.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    min-height: auto;
    padding: 1rem 1.5rem !important;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #009ef7 !important;
    background-color: #f1faff;
    border-radius: 0.475rem !important;
}

.dropzone-text{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.c-pointer{
    cursor: pointer;
}