.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    min-height: auto;
    padding: 1rem 1.5rem !important;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #009ef7 !important;
    background-color: #f1faff;
    border-radius: 0.475rem !important;
}

.dropzone-text{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.c-pointer{
    cursor: pointer;
}

.custom-card-image{
    height: 350px;
    object-fit: cover;
}

.album-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #506b93;
    text-transform: capitalize;
}
.album-link:hover{
    color: #2d3748;
}
